## Pandas

In [1]:
import pandas as pd #Imporing pandas library

### Row wise data insertion

In [2]:
a=[[1,2,3],[4,5,6],[7,8,9],[10,11,12]]
row_wise=pd.DataFrame(a)
print(row_wise)

    0   1   2
0   1   2   3
1   4   5   6
2   7   8   9
3  10  11  12

In [4]:
a=[[1,2,3],[4,5,6],[7,8,9],[10,11,12]]
row_wise=pd.DataFrame(a,columns=["Col1","Col2","Col3"]) #column name is given by user
print(row_wise)

   Col1  Col2  Col3
0     1     2     3
1     4     5     6
2     7     8     9
3    10    11    12

In [5]:
a=[[1,2,3],[4,5,6],[7,8,9],[10,11,12]]
row_wise=pd.DataFrame(a,columns=["Col1","Col2","Col3"],index=["A","B","C","D"]) #column name and index name(row name) is given by user
print(row_wise)

   Col1  Col2  Col3
A     1     2     3
B     4     5     6
C     7     8     9
D    10    11    12

### Column wise data insertion

In [8]:
a= {
    "Col1" : [1,4,7,10],
    "Col2" : [2,5,8,11],
    "Col3" : [3,6,9,12]
}
column_wise=pd.DataFrame(a)  #column name is given by user which is keys in the dictionary
print(column_wise)

   Col1  Col2  Col3
0     1     2     3
1     4     5     6
2     7     8     9
3    10    11    12

In [9]:
a= {
    "Col1" : [1,4,7,10],
    "Col2" : [2,5,8,11],
    "Col3" : [3,6,9,12]
}
column_wise=pd.DataFrame(a,index=["A","B","C","D"]) #column name and index name(row name) is given by user
print(column_wise)

   Col1  Col2  Col3
A     1     2     3
B     4     5     6
C     7     8     9
D    10    11    12

In [10]:
# perticular Column values printing
column_wise["Col2"]  # We using only Column Name

A     2
B     5
C     8
D    11
Name: Col2, dtype: int64

In [13]:
# perticular Row values printing
column_wise.loc["D"] # We using only Row Name in loc attributes

Col1    10
Col2    11
Col3    12
Name: D, dtype: int64

In [14]:
# Printing a element(5) inside a DataFrame
column_wise.loc["B","Col2"]  # We using only Row Name & Column Name in loc attributes--loc(row name,column name)

5

In [15]:
# Printing elements sequence wise in column a DataFrame
column_wise.loc["A":"B"]

   Col1  Col2  Col3
A     1     2     3
B     4     5     6

In [17]:
# Printing elements sequence wise in a DataFrame
column_wise.loc["A","Col2":"Col3"]

Col2    2
Col3    3
Name: A, dtype: int64

In [18]:
# Printing elements sequence wise in a DataFrame
column_wise.loc["A":"B","Col3"]

A    3
B    6
Name: Col3, dtype: int64

In [19]:
# Printing elements sequence wise in a DataFrame
column_wise.loc["A":"B","Col1":"Col2"]

   Col1  Col2
A     1     2
B     4     5

In [20]:
# Printing arbitery elements in a DataFrame
column_wise.loc["A",["Col1","Col3"]]

Col1    1
Col3    3
Name: A, dtype: int64

In [22]:
# Printing arbitery elements in a DataFrame
column_wise.loc[["A","D"],"Col1"]

A     1
D    10
Name: Col1, dtype: int64

In [23]:
# Printing arbitery elements in a DataFrame
column_wise.loc[["A","D"],["Col1","Col3"]]

   Col1  Col3
A     1     3
D    10    12